body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
}


footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    flex: 1;
    margin: 0 10px; /* Adjust as needed */
  }
  
  .social-links {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 10px; /* Adjust as needed */
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 5px; /* Adjust as needed */
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Makes the social icons round */
  }
  
    
  
.book-now-btn {
    display: inline-block;
    background-color: #993232;
    color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 100%; /* Make it a circle */
    text-decoration: none;
    font-size: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .book-now-btn:hover {
    background-color: #45a049;
  }
  